.transformer__header {
  display: flex;
}
.transformer__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.transformer__header-content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  font-family: var(--font-family);
}

.transformer__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-top: 1.5rem;

  color: var(--color-text);
}

.transformer__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.transformer__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  background: var(--color-footer);
  font-family: var(--font-family);
}

.transformer__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  background: #ff4820;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: var(--font-family);
}

.transformer__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.transformer__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.transformer__header-content__people p {
  margin: 0 0 0 1rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  font-family: var(--font-family);
}

.transformer__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.transformer__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .transformer__header {
    flex-direction: column;
  }
  .transformer__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .transformer__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .transformer__header p {
    font-size: 16px;
    line-height: 24px;
  }
  .transformer__header-content__people {
    flex-direction: column;
  }
  .transformer__header-content__people p {
    margin: 0;
  }
  .transformer__header-content__input input,
  .transformer__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .transformer__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .transformer__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .transformer__header-content__input input,
  .transformer__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
